<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for ('static', filename='login.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="icon" type="png" href="/static/logo.png">
</head>
<body>
    <header class="header">
        <div class="container">
            <h1 class="logo">urlbee</h1>
            <nav class="navbar">
                <ul class="nav-list">
                    <li class="nav-item"><a href="/">Home</a></li>
                    <li class="nav-item"><a href="/usersignin">Signin</a></li>

                </ul>
            </nav>
        </div>
    </header>
    <div class="block">
    <div class="block1">
        <h3>Login</h3>
        <br>
        <form method="post" action="/userlogin">    
        <b> <i class="fa fa-envelope" aria-hidden="true"></i> Email: <br> </b>
            <input type="email" name="Gmail" placeholder="email">
            <br>
        <b> <i class="fa fa-lock" aria-hidden="true"></i>Password: <br></b> 
            <input type="password" name="Password" placeholder="password">
            <br><br>
            <button class="btn btn-primary"  type="submit" >Sign Up</button> 
        </form>
        <br>
        {% if msg_email==0 %}
        <p> Invalid ID or Password </p>
        {% endif %}
    </div>
    <div class="block2">
        <p>________________OR________________</p>
        <form method="get" action="/index">  
        <button class="btn btn-primary"  type="submit" name="signup" action="/index"><i class="fa fa-google" aria-hidden="true"></i>Google</button> 
        </form> 
        <form action="/login">
            <button class="btn btn-primary"  type="submit" name="signup" action="/login"><i class="fa fa-github" aria-hidden="true"></i> GitHub</button> 
        </form>
    </div>
</body>

</html>